/* background */
.cab-fondo {
    background-color: #b6b6b6;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-self: center;
}

.sep {
    position: relative;
    float: right;
    right: 10px;
    border: 1px solid #2222;
    background-color: #2222;
    height: 1px;
    top: 5px;
    height: 75%;
}
/* Nombre de la pagina */

.nombre{
    font-size: 25px;
    position: relative;
    width: 200px;
    height: 100%;
    background-color: #D0D0D0;
    padding-top: 10px;
    float: left;
    text-decoration: none;
    transition: all 0.4s;
}
.nombre p{
    margin-top: 0;
}

img.foto {
    width: 40px;
    height: 40px;
}
/* Parte del carrito */
.c-nombre {
    position: relative;
    padding: 0;
    margin: 7px 0 0 0px;
    right: 5px;
    float: right;
    transition: 200ms;
    cursor: pointer;
}

.foto-c {
    position: relative;
    margin-right: 25px;
    margin-top: 3px;
    float: right;
    cursor: pointer;
}
/* Parte del Usuario */
.userName, .catalogo, .perfil {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    color: #222;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.4s ;
}

.catalogo{
    margin-left: 10px;
    float: left;
}

.userName, .perfil {
    margin-right: 20px;
    margin-top: 15px;
    float: right;
}

a,
a:visited {
    font-style: unset;
    color: #222;
}

.phone{
    display: none;
}

@media screen and (max-width:960px) {
    .cab-fondo{
        height: 70px;
    }
    .sep{
        top: 10px;
    }
    img.foto{
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }
    .userName, .perfil {
        margin-top: 25px;
        font-size: 25px;
        max-width: 300px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .nombre {
        width: 150px;
    }
    .nombre p {
        margin: 0;
        padding-top: 10px;
    }
}

@media screen and (max-width: 700px){
    p.userName{
        max-width: 250px;
    }
}

@media screen and (max-width:600px){
    p.userName {
        max-width: 160px;
    }
    .nombre {
        display: none;
    }
    .foto{
        width: 35px;
        height: 35px;
    }
    .perfil{
        display: block;
    }
    .phone{
        display: block;
        height: 50px;
        float: left;
        text-decoration: none;
    }



}

@media screen and (max-width:500px){
    p.userName{
        display: none;
    }
}