<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header>
  <div class="f-gris">
      <!--Imagen del usuario-->
      <div class="pict flex">
          <img src="{{userImg}}" id="userPicture" width="200" height="200" />
          
          <div>
              <input type="submit" routerLink="" value="Compras realizadas">
          </div>
          <form>
              <div class="flex">
                  <label for="chPicture">Cambiar la foto de perfil</label>
                  <input type="file" (change)="onUpload($event)" accept="image/*" id="chPicture"/>
              </div>
              <div *ngIf="showChange">
                  Recargue la página para ver los cambios
              </div>
          </form>
          <div>
              <input type="submit" 
              routerLink="/catalogo" value="Catálogo">
          </div>
      </div>
      <!--Fondo de los datos-->
      <div class="recuadro">
          <!--zona de los datos-->
          <div class="datos">
              <div>
                  <p id="userName">{{userName}}</p>
              </div>
          </div>
      </div>
  </div>
  <!-- <app-footer style="position: fixed;"></app-footer> -->
</ion-content>
