<ion-content>
  <div class="recuadro">
    <div class="cabecera">
        <p class="t-cabecera">Formas de pago: Online</p>
    </div>
    <div class="ext-fl m-b">
        <ul>
            <li class="pago">VISA</li>
            <li class="pago">Paypal</li>
            <li class="pago">Giftcard</li>
        </ul>
        <p>(Asumamos que elegimos el método de pago y pagamos)</p>
      <ion-button (click)="finish();">Aceptar compra</ion-button>
    </div>
    <app-carrito></app-carrito>
  </div>  
</ion-content>
